:root {
  --site-width: calc(1920px);
}

img {
  display: block;
}

body {
  background-repeat: no-repeat;
  background-size: var(--site-width) 1920px;
  background-color: #26272B;
  height: 8740px;
}

.site-wrap {
  position: relative;
  width: var(--site-width);
  z-index: 0;
}

.blinking { 
  -webkit-animation:blink 0.5s ease-in-out infinite alternate; 
  -moz-animation:blink 0.5s ease-in-out infinite alternate;
  animation:blink 0.5s ease-in-out infinite alternate; 
  
}

@-webkit-keyframes blink{ 
  0% {opacity:0;} 
  100% {opacity:1;} 
}

@-moz-keyframes blink{
  0% {opacity:0;} 
  100% {opacity:1;}
} 

@keyframes blink{ 
  0% {opacity:0;} 
  100% {opacity:1;} 
}

.blinking_2 { 
  -webkit-animation:blink 2s ease-in-out infinite alternate; 
  -moz-animation:blink 2s ease-in-out infinite alternate;
  animation:blink 2s ease-in-out infinite alternate; 
}

@-webkit-keyframes blink{ 
  0% {opacity:0;} 
  100% {opacity:1;} 
}

@-moz-keyframes blink{
  0% {opacity:0;} 
  100% {opacity:1;}
} 

@keyframes blink{ 
  0% {opacity:0;} 
  100% {opacity:1;} 
}

.bn_1_1_0 {
  position: absolute;
  top: 64px;
  left: 117px;
}

.bn_1_1_1 {
  position: absolute;
  top: 389px;
  left: 1058px;
}

.bn_1_1_2 {
  position: absolute;
  top: 50px;
  left: 100px;
  z-index: 10;
}

.bn_1_1_3 {
  position: absolute;
  top: 843px;
  left: 100px;
}

.bn_1_2_1 {
  position: absolute;
  top: 260px;
  left: 258px;
}

.bn_1_2_2 {
  position: absolute;
  top: 260px;
  left: 383px;
}

.bn_1_2_3 {
  position: absolute;
  top: 235px;
  left: 360px;
}

.bn_2_1_1 {
  position: absolute;
  top: 1168px;
  left: 100px;
}

.bn_2_1_2 {
  position: absolute;
  top: 1059px;
  left: 1078px;
}

.bn_3_1_1 {
  position: absolute;
  top: 1548px;
  left: 100px;
}

.bn_3_1_2 {
  position: absolute;
  top: 1600px;
  right: 100px;
  left: auto;
}

.bn_4_1_1 {
  position: absolute;
  top: 1928px;
  left: 100px;
}

.bn_4_1_2 {
  position: absolute;
  top: 1829px;
  right: 100px;
  left: auto;
}

.bn_5_1_1 {
  position: absolute;
  top: 2307px;
  left: 100px;
}

.bn_5_1_2 {
  position: absolute;
  top: 2357px;
  right: 100px;
  left: auto;
}

.bn_6_1_1 {
  position: absolute;
  top: 2689px;
  left: 100px;
}

.bn_6_2_1 {
  position: absolute;
  top: 2868px;
  left: 55px;
  width: 321px;
  height: 192px;
}

.bn_6_2_2 {
  position: absolute;
  top: 2907px;
  left: 220px;
}

.bn_6_2_3 {
  position: absolute;
  top: 2828px;
  left: auto;
  right: 114px;
}

.bn_6_2_4 {
  position: absolute;
  top: 3164px;
  left: 55px;
  z-index: 11;
}

.bn_6_2_5 {
  position: absolute;
  top: 3224px;
  left: 824px;
  z-index: 11;
}

.bn_6_2_6 {
  position: absolute;
  top: 3522px;
  left: auto;
  right: 55px;
  z-index: 11;
}

.bn_6_2_7 {
  position: absolute;
  top: 3542px;
  left: 857px;
  z-index: 11;
}

.swiper {
  position: absolute;
  width: 1920px;
  height: 400px;
  top: 4188px;
  z-index: 11;
}

.swiper-slide {
  width: 200px;
  height: 200px;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.bn_8_1_1 {
  position: absolute;
  top: 4550px;
  left: 55px;
  width: 321px;
  height: 192px;
}

.bn_8_1_2 {
  position: absolute;
  top: 4590px;
  left: 220px;
}

.bn_8_1_3 {
  position: absolute;
  top: 4778px;
  left: auto;
  right: 33px;
  z-index: 11;
}

.bn_8_2_4 {
  position: absolute;
  top: 4800px;
  left: 237px;
  width: 397px;
  height: 605px;
}

.bn_8_1_4 {
  position: absolute;
  top: 4800px;
  left: 237px;
  width: 397px;
  height: 605px;
}

.bn_9_1_1 {
  position: absolute;
  top: 5410px;
  left: 55px;
  width: 321px;
  height: 192px;
}

.bn_9_1_2 {
  position: absolute;
  top: 5450px;
  left: 220px;
}

.bn_9_1_3 {
  position: absolute;
  top: 5607px;
  left: auto;
  right: 33px;
  z-index: 11;
}

.bn_9_1_4 {
  position: absolute;
  top: 5716px;
  left: 177px;
}

.bn_9_1_5 {
  position: absolute;
  top: 5705px;
  left: 168px;
}

.bn_10_1_1 {
  position: absolute;
  top: 6230px;
  left: 55px;
  width: 321px;
  height: 192px;
}

.bn_10_2_1 {
  position: absolute;
  top: 6270px;
  left: 220px;
}

.bn_10_1_2 {
  position: absolute;
  top: 6473px;
  left: 94px;
  width: 631px;
  height: 475px;
}

.bn_10_1_3 {
  position: absolute;
  top: 6856px;
  left: 313px;
  width: 194px;
  height: 93px;
}

.bn_10_1_4 {
  position: absolute;
  top: 6494px;
  left: auto;
  right: 33px;
  z-index: 11;
}

.bn_10_1_5 {
  position: absolute;
  top: 6916px;
  left: 410px;
  z-index: 11;
}

.bn_11_1_0 {
  position: absolute;
  top: 7119px;
  left: 80px;
  width: 321px;
  height: 192px;
}

.bn_11_1_1 {
  position: absolute;
  top: 7155px;
  left: 220px;
}

.bn_11_1_2 {
  position: absolute;
  top: 7340px;
  left: 55px;
  z-index: 11;
}

.bn_11_1_3 {
  position: absolute;
  top: 7270px;
  left: 620px;
  z-index: 12;
}

.bn_11_1_4 {
  position: absolute;
  top: 7420px;
  left: 1291px;
  z-index: 11;
}

.bn_12_1_1 {
  position: absolute;
  top: 8139px;
  left: 100px;
  z-index: 9;
}

.bn_12_1_2 {
  position: absolute;
  top: 7470px;
  left: 183px;
}

.bn_12_1_3 {
  position: absolute;
  top: 8680px;
  left: 819px;
}