:root {
  --site-width: calc(1920px);
}

img {
  display: block;
}

body {
  background-repeat: no-repeat;
  background-size: var(--site-width) auto;
  background-color: #26272B;
  height: 8740px;
}

.site-wrap {
  position: relative;
  width: var(--site-width);
  z-index: 0;
}

.bn_1_1_1{
  position: absolute;
  top:202px;
  left: 1032px;
}

.bn_1_1_2{
  position: absolute;
  top:50px;
  left: 100px;
  z-index: 10;
}

.bn_1_1_3{
  position: absolute;
  top:475px;
  left: 100px;
}

.bn_2_1_1{
  position: absolute;
  top:1168px;
  left: 100px;
}

.bn_2_1_2{
  position: absolute;
  top:1059px;
  left: 1078px;
}

.bn_3_1_1{
  position: absolute;
  top:1548px;
  left: 100px;
}

.bn_3_1_2{
  position: absolute;
  top:1600px;
  right: 100px;
  left: auto;
}

.bn_4_1_1{
  position: absolute;
  top:1928px;
  left: 100px;
}

.bn_4_1_2{
  position: absolute;
  top:1955px;
  right: 100px;
  left: auto;
}

.bn_5_1_1{
  position: absolute;
  top:2307px;
  left: 100px;
}

.bn_5_1_2{
  position: absolute;
  top:2208px;
  right: 100px;
  left: auto;
}
