:root {
  --site-width: calc(1920px);
}

img {
  display: block;
}

body {
  background-repeat: no-repeat;
  background-size: var(--site-width) auto;
  background-color: #26272B;
  height: 8740px;
}

html, body{
  overflow-y: hidden;
}

.site-wrap {
  position: relative;
  width: var(--site-width);
  z-index: 0;
}